.app {
  vertical-align: middle;
  width: 100%;
  max-width: 580px;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
}

.track-count {
  text-align: center;
}

.track-count table {
  table-layout: fixed;
  width: 100%;
}

.track-count .control {
  font-size: 4em;
  color: #AAA;
  cursor: pointer;

}

.track-count .count {
  display: inline-block;
  font-size: 6em;
  min-width: 100px;
}

.notice-warning { color: red; }

.margin-s {
  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-m {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-l {
  margin-top: 60px;
  margin-bottom: 60px;
}

.muted { color: #AAA; }