# data
database.sqlite
sessions
.expo

# dependencies
/node_modules

# misc
.bak
.idea
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.bak

npm-debug.log*
yarn-debug.log*
yarn-error.log*