.chart {
    position: relative;
    height: 160px;
}
.bars {
    margin-left: 30px;
    height: 140px;
    position: relative;
}

.bars .interval {
    float: left;
    position: absolute;
    border-bottom: 1px solid #007FB6;
    bottom: 0;
    height: 100%;
    border-left: 1px solid #FFF;
    display: block;
}
.bars .bar {
    position: absolute;
    background: linear-gradient(#009CE0, #0070A0);
    bottom: 1px;
    left: 0;
    width: 100%;
    display: block;
}

.bars .bar:hover,
.bars .bar:focus {
    background: #009CE0;
}

.bars .bar:hover span,
.bars .bar:focus span,
.bars .bar:active span {
    display: block;

}

.bars .bar span {
    display: none;
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    text-align: center;
}

.y-axis {
    height: 140px;
    margin-top: 12px;
    float: left;
    position: relative;
}
.y-axis > div {
    font-size: 0.8em;
    color: #606065;
    font-weight: 600;
    position: absolute;
    width: 25px;
    text-align: right;
}

.x-axis {
    margin-left: 30px;
    position: relative;
    bottom: 0px;
}

.x-axis > div {
    position: absolute;

}

.x-axis .tick {
    margin-left: 1px;
    width: 1px;
    height: 4px;
    background: #007FB6;
}

.x-axis .label {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.2em;
    text-align: center;
    color: #606065;
    width: 100%;
    display: block;
    margin-top: 3px;
    margin-left: -50%;
}