.stats {
	font-size: 14px;
}
.stats table {
	border-spacing: 0;
	text-align: left;
	width: 100%;
}
.stats th,
.stats td {
	border-bottom: 1px solid #e6e6eb;
	padding: 5px 10px;
}
.stats th {
	padding-top: 20px;
}

.stats table tbody tr:nth-child(2n):not(.error) {
	background-color: rgba(0,0,0,0.02);
}
